<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="MMS">
	<display-name>Archetype Created Web Application</display-name>


	<!-- Defining the InfraStructure XML that will be needed as part of Spring 
		EntityManager and Hibernate configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/META-INF/infrastructure.xml</param-value>
	</context-param>

	<!-- This Class will Load the Context-Param into the Spring Factory -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Configuuring the Front Controller. All the Requests will be intercepted by the Dispatcher servlet.
		This requests will then be processd by the Spring MVC controller Implementation.
	  -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/META-INF/applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>



</web-app>
